html, body {
	height: 100%;
	margin: 0;
}

.options, .container {
	height: 50%; 
	display: flex;
	justify-content: center;
	align-items: center;
}

.options button {
	margin-left: 2em;
	padding: 1em;
	width: 7em;
}

.container {
	flex-direction: column;
}

.container div {
	font-size: 1.5em;
}